<!DOCTYPE html>
<html lang="en" xmlns:="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Create user</title>
</head>
<body>
<!--эта форма будет связана с методом указанном по ссылке "/user-create", объект
который я хочу передавать "user", и этот метод типа Post-->
<form action="#" th:action="@{/admin/user-create}" th:object="${user}" method="post">

    <label for="firstName">First name</label>
    <input type="text" th:field="*{firstName}" id="firstName" placeholder="First Name">

    <label for="lastName">Last name</label>
    <input type="text" th:field="*{lastName}" id="lastName" placeholder="Last Name">

    <input type="submit" value="Create User">
</form>
</body>
</html>